.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em;
  /* intead of this, try using jsx inside component */
  /* color: rgb(217, 60, 60); */
  font-size: x-large;
}
